<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>

    <script src="~/js/AngularApp/angular.min.js"></script>
    <script src="~/js/AngularApp/AngularApp.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>

    <title>@ViewData["Title"] - DeltaTre</title>

</head>
<body   ng-app="app">
    <div>
        @RenderBody()
    </div>
</body>
</html>
